<div style="margin-top: -225px;">
    <div class="row justify-content-center text-center">
        <div class="col-xs-8 col-md-8 col-lg-3 my-5 mx-1 bg-white shadow-lg border-warning border-5">

            <i class="bi-hdd-stack-fill icono text-primary"></i>
            <h3>Back-End</h3>
            <p class="mx-5">Trabajo desde desarrollo, pruebas automaticas y puesta en produccion con entrega continua. Acostumbrado a trabajar con C#.Net</p>

            <h5 class="text-primary mx-5 ">Stack</h5>
            <ul class="list p-0 mx-5">
                <li>C#</li>
                <li>ASP.Net Core</li>
                <li>SQL Server</li>
                <li>MySQL</li>
            </ul>

            <h5 class="text-primary mx-5">Expriencia en:</h5>
            <ul class="list p-0 mx-5">
                <li class="m-0">Web Apis</li>
                <li>EntityFameworkCore con SqlServer y Mysql</li>
                <li>Dapper</li>
                <li>ASP.Net Core MVC</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3 my-5 mx-1 bg-white shadow-lg">

            <i class="bi-code-slash icono text-primary"></i>
            <h3>Front-End</h3>
            <p> Desarrollo de interfaces de usuario robustos y dinamicos con Angular y React que cumpliran con los requerimientos del negocio</p>
        </div>
    </div>
</div>