<div class="text-center mb-5">
    <h1 class="display-4">Miguel Estuardo Samayoa Giron</h1>
    <h2>Tengo 22 años y soy desarrollador full stack Junior, con especializacion en tecnologias .Net y Angular.</h2>

    <img id="foto" src="~/images/FotoPerfil.jpg" class="img-fluid" alt="Foto de Perfil" />
</div>


@* -- -- -- -- -- -- -- Seccion de Descripcion -- -- -- -- -- -- -- *@
<div class="row justify-content-center text-center mt-5 bg-primary pb-5">

    <div class="col col-md-7 text-light p-md-2">
        <h1 class="mt-4"> Te doy la bienvenida </h1>
        <p class="mb-5">
            Desarrollador autodidacta y estudiante de Ingeniería en Sistemas de Información y Ciencias de la Computación. Apasionado por la tecnología, me considero una persona analítica, perseverante y siempre dispuesta a aprender.
            <br />
            <br />
            Estoy entusiasmado por explorar oportunidades laborales donde pueda aplicar y seguir desarrollando mis habilidades en un entorno dinámico y desafiante. ¡Listo para contribuir y aprender junto a un equipo talentoso!
            <br />
            <br />
            Cuento con una sólida experiencia en el desarrollo de Backend, creando API REST utilizando tecnologías como .NET y C#. Asimismo, poseo conocimientos profundos en bases de datos, destacando en SQL Server y MySQL. En el ámbito del Frontend, cuento con habilidades en Angular, React, JavaScript, TypeScript y Bootstrap.
            <br />
            <br />
            Además, domino herramientas esenciales como Git & GitHub para el control de versiones y estoy familiarizado con Azure DevOps para la gestión de proyectos y con la metodología ágil SCRUM
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
    </div>
</div>