@model List<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Proyectos</h1>
    <p>Aqui encontraras algunos de los proyectos en los que he trabajado</p>
    <partial name="_IteracionProyectos" model="Model" />
</div>


